<app-loading [isLoading]="isLoading | async" [isOverlay]="true"></app-loading>
<p-toast></p-toast>
<h2>{{ repository?.subject }}</h2>
<div class="col-3 mb-3" *ngIf="user?.roleId === 1">
  <app-button
    label="Add new task"
    (click)="openCreateTaskDialog()"
  ></app-button>
</div>
<div class="card" *ngFor="let task of tasks">
  <div class="row">
    <div class="col-6">
      <h5>{{ task.name }}</h5>
      <p>{{ task.description }}</p>
      <div>
        <p>Created: {{ task.creationDate | date : "dd.MM.yyyy" }}</p>
        <p>Due: {{ task.deadlineDate | date : "dd.MM.yyyy" }}</p>
      </div>
    </div>
    <div class="col-5 mb-2">
      <p-fileUpload
        url="https://www.primefaces.org/cdn/api/upload.php"
        (onUpload)="onUpload($event, task)"
        accept="image/*"
        maxFileSize="1000000"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="task.file">
            <li>{{ task.fileName }} - {{ task.file?.size }} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="col-1" *ngIf="user?.roleId === 1">
      <app-button icon="pi pi-trash" (click)="removeTask(task.id)"></app-button>
    </div>
  </div>
</div>
