.card {
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 244, 239);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-content > div {
  flex: 1;
}

.card-content app-button {
  margin-left: auto;
}

h5,
h2 {
  margin-bottom: 20px;
}

