<div class="grid">
  <app-loading [isLoading]="isLoading | async" [isOverlay]="true"></app-loading>
  <p *ngIf="repositories === null">You're not a member of any repository!</p>
  <ul *ngFor="let repo of repositories" style="list-style-type: none">
    <div class="grid card">
      <div class="row">
        <div class="col-3">
          <li>
            <h1>{{ repo.subject }}</h1>
            <ng-container
              *ngIf="repo.teachers?.length === 1; else multipleTeachers"
            >
              <p>
                Teacher: {{ repo.teachers[0].name }}
                {{ repo.teachers[0].surname }}
              </p>
            </ng-container>
            <ng-template #multipleTeachers>
              <p>
                Teachers:
                <span *ngFor="let teacher of repo.teachers; let last = last">
                  {{ teacher.name }} {{ teacher.surname
                  }}<span *ngIf="!last">, </span>
                </span>
              </p>
            </ng-template>
            <p>Number of students: {{ repo.numberOfStudents }}</p>
          </li>
        </div>
        <div class="col-6"></div>
        <div class="col-3">
          <app-button label="Open" (onClick)="openRepo(repo?.id)"></app-button>
          <p class="mt-4">Number of tasks: {{ repo?.numberOfTasks }}</p>
        </div>
      </div>
    </div>
  </ul>
</div>
