<div class="grid">
  <div class="card col-6 align-items-center">
    <i class="pi pi-graduation-cap mb-5"></i>
    <div class="container justify-content-center">
      <div class="row">
        <div class="col-6">
          <app-input-text label="Name"></app-input-text>
        </div>
        <div class="col-6">
          <app-input-text label="Surname"></app-input-text>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <app-dropdown
            label="Role"
            [options]="roles"
            optionLabel="name"
            optionValue="id"
            placeholder="Select role"
          ></app-dropdown>
        </div>
        <div class="col-6">
          <app-input-text label="Email Address"></app-input-text>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <app-input-text label="Email Address"></app-input-text>
        </div>
        <div class="col-6">
          <app-calendar
            [date]="dateOfBirth"
            label="Date of birth"
          ></app-calendar>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <app-input-text label="Password" [isPassword]="true"></app-input-text>
        </div>
        <div class="col-6">
          <app-input-text
            label="Confirm password"
            [isPassword]="true"
          ></app-input-text>
        </div>
      </div>

      <app-button label="Register"></app-button>
    </div>
    <div class="container mt-3">
      <p>Do you already have an account?</p>
      <app-button label="Log in" (click)="login()"></app-button>
    </div>
  </div>
</div>
