<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      ><i class="pi pi-graduation-cap"></i> Teach&Submit</a
    >

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/myrepos" routerLinkActive="active"
            >My repositories</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            ><i class="pi pi-bell"></i> Notifications</a
          >
        </li>
      </ng-container>
    </ul>

    <ng-container *ngIf="accountService.currentUser$ | async">
      <div class="me-2">
        <img src="{{ './assets/user.png' }}" alt="user photo" />
      </div>
      <app-button
        label="Welcome"
        icon="pi pi-angle-down"
        [iconPos]="iconPosition"
        (click)="menu.toggle($event)"
      ></app-button>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
    </ng-container>
  </div>
</nav>
